body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    position: relative;
}

header{
    width: 100%;
    height: 100px;
    background-color: #343333;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-ctnr{
    width: 30%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 50px;
}

.header-ctnr .accueil{
    width: 20%;
    height: 100%;
}

nav{
    width: 70%;
}

ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul li{
    list-style-type: none;
}

li a{
    text-decoration: none;
    color: white;
    font-weight: BOLD;
    transition: ease 0.5s;
}

li a:hover{
    color: green;
    transition: ease 0.5s;
}

/* Main */

main{
    width: 100%;
    height: auto;
}

section{
    width: 60%;
    height: auto;
    margin: 75px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.result{
    width: 100%;
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.card-ctnr{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 40px auto;
}

.card{
    width: 27%;
    height: 450px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 2px #9E9E9E;
    cursor: pointer;
    text-decoration: none;
    color: black;
    transition: ease 0.5s;
}

.card:hover{
    transition: ease 0.5s;
    transform: scale(1.05);
    box-shadow: 10px 10px 3px 1px #9E9E9E;
}

.card img{
    width: 100%;
    height: 70%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    object-fit: cover;
}

.card p{
    margin-top: 30px;
    padding: 5px 20px;
}

footer{
    width: 100%;
    height: 200px;
    background-color: #343333;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-ctnr{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.infos-ctnr{
    width: 30%;
    
}

.infos-ctnr ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.infos-ctnr ul li{
    margin: 10px auto;
}

.service-ctnr{
    width: 30%;
    margin-right: 50px;
}

.service-ctnr ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.service-ctnr ul li{
    margin: 10px auto;
}



.social{
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 50px;
}

.facebook{
    display: flex;
    align-items: center;
}

.facebook a{
    text-decoration: none;
    color: white;
    transition: ease 0.5s;
}

.facebook a:hover{
    transition: ease 0.5s;
    color: green;
}

.instagram{
    display: flex;
    align-items: center;
}

.instagram a{
    text-decoration: none;
    color: white;
    transition: ease 0.5s;
}

.instagram a:hover{
    transition: ease 0.5s;
    color: green;
}

.newsletter{
    display: flex;
    align-items: center;
}

.newsletter a{
    text-decoration: none;
    color: white;
    transition: ease 0.5s;
}

.newsletter a:hover{
    transition: ease 0.5s;
    color: green;
}

/* Responsive */

@media (max-width: 1023px) {
    
    .header-ctnr{
        width: 75%;
    }
    
    section{
        width: 90%;
    }
    
    .card{
        width: 45%;
        min-height: 350px;
        height: 100%;
    }

    footer{
        height: auto;
    }

    .footer-ctnr{
        width: 90%;
        justify-content: space-between;
        margin: 10vw 0;
    }

    .infos-ctnr{
        width: 30%;
    }

    .infos-ctnr ul{
        align-items: flex-start;
    }

    .infos-ctnr ul li {
        margin: 10px 0;
    }

    .service-ctnr{
        margin-right: 0;
        width: 30%;
    }

    .social{
        width: 30%;
        flex-direction: column;
        margin-left: 0;
    }
}